Package: autogrower-interface
Version: 1.0.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Autogrower <autogrower_2025@labeip.epitech.eu>
Description: This contains the graphical interface of the embedded device
Depends: libgtk-4-bin
